html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

footer {
    background-color: #f8f9fa;
    color: black;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

body > div {
    position: relative;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}  

.background-image {
    background-image: url("../img/beautiful-wallpaper_124418236_294-2828125507.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.centered-text {
    position: relative;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 3;
}

.centered-text a {
    position: relative;
    text-align: center;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    color: #fff;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.centered-text a:hover {
    background-color: #004a99;
}